<div class="container">
	<div class="jumbotron">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec tempor lectus, et ornare justo. Nullam eget euismod diam. Vivamus facilisis, turpis ut sagittis maximus, odio justo sollicitudin nisl, sit amet facilisis neque velit eu sapien. Integer malesuada ligula id diam euismod, id congue risus vulputate. Sed imperdiet feugiat odio at dapibus. Pellentesque id ligula semper, efficitur sapien quis, pulvinar dui. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi finibus sed nisl vel pellentesque. Quisque eu tempus lacus, quis maximus elit. Sed luctus, felis eu consequat interdum, ligula augue posuere dolor, a placerat urna ipsum sed ante. Vivamus est metus, dictum nec venenatis vitae, eleifend facilisis est. Phasellus ut ipsum eu purus imperdiet commodo et quis magna. Integer in porta nibh. Pellentesque eu eros augue.
	</p> 	  
	</div>
	<div class="alert alert-success alert-dismissable">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">X</a>
  <strong>Attention! </strong> Please Post Pictures
	</div>
</div>
<div class="container">
	<h2>List Pictures</h2>
	<div class="row">
		<div class="col-md-4">
			<div class="thumbnail">          
  		<img src="https://lh3.googleusercontent.com/0PIWiF2_uKgj6bk6tXV6gF47dLFoZ-bVnFNOn0Qef9rcPf9l1Egk2V0kRrLHsC8S_F6h=s98" alt="Cinque Terre" width="95%" height="95%"> 
  		</div>
  	</div>
  <div class="col-md-4">
			<div class="thumbnail">          
  		<img src="http://vignette2.wikia.nocookie.net/steamtradingcards/images/c/c5/MapleStory_Artwork_2.jpg/revision/latest?cb=20140311064413" alt="Cinque Terre" width="95%" height="95%"> 
  		</div>
  	</div>
  <div class="col-md-4">
			<div class="thumbnail">          
  		<img src="https://lh3.googleusercontent.com/0PIWiF2_uKgj6bk6tXV6gF47dLFoZ-bVnFNOn0Qef9rcPf9l1Egk2V0kRrLHsC8S_F6h=s98" alt="Cinque Terre" width="95%" height="95%"> 
  		</div>
  	</div>
  </div>
</div>
