<div class="jumbotron jumbotron-items j jumbotron-headings">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
			<h1><span class="em-text">Demo Website</span></h1> 	
			<p>I am working on this website to make sure that everyhting runes perfectly
			Please let me know if you have any questions</p> 
			<a href="#"><img class="app-btn col-md-6" src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png"></a>
			<a href="#"><img class="app-btn col-md-6" height="80px" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRG2pKpH_IGpyBLXrlYCHiY_RxGZYuft_tzLrtT-18dFRXz29XP"></a>
			</div>
			<div class="col-md-6">
				<div class="showcase-img"></div>
			</div>
		</div>
	</div>
</div>

<div class="jumbotron jumbotron-items">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<img src="https://sc02.alicdn.com/kf/HTB1fwPRJXXXXXb2XXXXq6xXFXXXi/-KITA-CMP-Pad-Conditioner.jpg" class="conditioner">
				<h2>Like Our Product??</h2>
				<button type="button" class="btn btn-danger">Buy</button>
			</div>
			<div class="col-md-4">
				<img src="https://sc02.alicdn.com/kf/HTB1fwPRJXXXXXb2XXXXq6xXFXXXi/-KITA-CMP-Pad-Conditioner.jpg" class="conditioner">
				<h2>Like Our Product??</h2>
				<button type="button" class="btn btn-danger">Buy</button>
			</div>
			<div class="col-md-4">
				<img src="https://sc02.alicdn.com/kf/HTB1fwPRJXXXXXb2XXXXq6xXFXXXi/-KITA-CMP-Pad-Conditioner.jpg" class="conditioner">
				<h2>Like Our Product??</h2>
				<button type="button" class="btn btn-danger">Buy</button>
			</div>
		</div>
	</div>
</div>

